@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto/Roboto-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto/Roboto-Light.woff) format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto/Roboto-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto/Roboto-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}
html {
    line-height: 1.5;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    color: rgba(0, 0, 0, 0.87);
}

body {
  padding: 0 !important;
  letter-spacing: 0.2px;
}

.body-container {
    position: relative;
    z-index: 1;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

/* launching page */
.launch {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #5522d0;
    color: #fff;
    padding: 40px 20px;
    min-height: 400px;
}

.launch img {
    max-width: 100%;
    height: auto;
}

.launch-logo-wrap {
    width: 213px;
    margin: 0 0 40px 0;
}

.launch-title {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 8px 0;
    font-weight: 600;
    opacity: 0.6;
}

.launch-time {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin: 0 0 8px 0;
}

.launch-info {
    font-size: 18px;
    margin: 0;
    opacity: 0.6;
    font-weight: 600;
    line-height: 24px;
}

.launch-info span {
    display: block;
}

.launch-top {
    position: absolute;
    top: 0;
    right: -40px;
    width: 200px;
}

.launch-bottom {
    position: absolute;
    bottom: 0px;
    left: -40px;
    width: 200px;
    display: flex;
}

@media only screen and (max-width: 768px) {
    .launch-logo-wrap {
        width: 162px;
    }

    .launch-top, .launch-bottom {
        width: 200px;
    }
}
