<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
        <title>POD.ai</title>
        <meta
            name="description"
            content="POD brings together the Students of an Educational / Professional Institute on a common platform for them to be
        able to participate &amp; benefit in all careers related activities being organised by their respective Colleges / Institutes. "
        />
        <meta name="keywords" content="Pod,Placement,Jobs,Internships,College,Students,Careers,Campus,Companies,Trainings" />
        <meta property="og:title" content="Pos" />
        <link href="./fonts/icon.css" rel="stylesheet" />
        <link rel="stylesheet" href="./css/vendor.d9d21aba.css" />
        <link rel="stylesheet" href="./fontawesome/css/all.css" />
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
        <link rel="stylesheet" href="./css/style.css" />
    </head>
    <body>
        <div class="body-container">
            <div class="page-content" id="page-container" aria-hidden="false">
                <div class="homepage">
                    <div class="jumbotron" id="gototop">
                        <div class="clearfix">
                            <div class="homepage-header">
                                <div class="inner header-container">
                                    <a class="homepage-logo" href="./index.html"> <img src="./images/new_calyx_logo.png" /> </a>
                                </div>
                            </div>
                            <div class="clearfix hero-slider-container">
                                <div class="slideshow">
                                    <div class="marcom-college-slider flexslider-container" slide="s in heroSlides track by s.id" slideshowspeed="1000" pauseonhover="true" touch="true" controlnav="true">
                                        <div class="flexslider">
                                            <ul class="slides">
                                                <li class="text-left hero-slider-template flex-active-slide" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2">
                                                    <h1 class="jumbotron-title ng-binding" data-ng-bind-html="s.heading">Make Placements Your Differentiator.<br /></h1>
                                                    <h2 class="jumbotron-heading-second ng-binding" data-ng-bind-html="s.heading2">Simplify &amp; Professionalize. Make Students Ready.</h2>
                                                    <ul>
                                                        <li class="js-li ng-scope show" ng-repeat="text in s.subheading"><p class="ng-binding">Efficient &amp; Effective. Automate. No More Excels. No Google Forms. No Errors.</p></li>
                                                        <li class="js-li ng-scope show" ng-repeat="text in s.subheading"><p class="ng-binding">Standardize Processes. Profile Details. Your Branding.</p></li>
                                                        <li class="js-li ng-scope show" ng-repeat="text in s.subheading"><p class="ng-binding">Stay in Control of all Activities. Even on the Move.</p></li>
                                                    </ul>
                                                </li>
                                                <li class="text-left hero-slider-template" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1">
                                                    <h1 class="jumbotron-title ng-binding" data-ng-bind-html="s.heading">Placements the Collaborative Way.<br /></h1>
                                                    <h2 class="jumbotron-heading-second ng-binding" data-ng-bind-html="s.heading2">Team Work at its Best. Engage with All Stakeholders.</h2>
                                                    <ul>
                                                        <li class="js-li ng-scope show" ng-repeat="text in s.subheading"><p class="ng-binding">Engage Partner Colleges, Assessment Providers, Experts, Trainers, Alumni.</p></li>
                                                        <li class="js-li ng-scope show" ng-repeat="text in s.subheading"><p class="ng-binding">Connected Students. Managing Data. Updates. Registrations. Offers.</p></li>
                                                        <li class="js-li ng-scope show" ng-repeat="text in s.subheading"><p class="ng-binding">Professional. Fast. Error-Free. Happy Recruiters / Companies.</p></li>
                                                        <li class="js-li ng-scope show" ng-repeat="text in s.subheading"><p class="ng-binding">Your Team. Faculty. Student Coordinators. All Together.</p></li>
                                                    </ul>
                                                </li>
                                                <li class="text-left hero-slider-template" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1">
                                                    <h1 class="jumbotron-title ng-binding" data-ng-bind-html="s.heading">Grow Placements The Intelligent Way.<br /></h1>
                                                    <h2 class="jumbotron-heading-second ng-binding" data-ng-bind-html="s.heading2">Get Wiser Every Time. With Every Experience.</h2>
                                                    <ul>
                                                        <li class="js-li ng-scope show" ng-repeat="text in s.subheading"><p class="ng-binding">Insights into All Activities. Actionable Reports. Trends. Recommendations.</p></li>
                                                        <li class="js-li ng-scope show" ng-repeat="text in s.subheading"><p class="ng-binding">Enhance Employability. Take Your College / Institute to the New Heights.</p></li>
                                                        <li class="js-li ng-scope show" ng-repeat="text in s.subheading"><p class="ng-binding">Smart and Automated Reminders &amp; Notifications. Never Miss a ToDo.</p></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <ol class="flex-control-nav flex-control-paging">
                                                <li><a href="#" onclick="currentSlide(1)" class="flex-active dot">1</a></li>
                                                <li><a href="#" onclick="currentSlide(2)" class="dot">2</a></li>
                                                <li><a href="#" onclick="currentSlide(3)" class="dot">3</a></li>
                                            </ol>
                                            <ul class="flex-direction-nav">
                                                <li class="flex-nav-prev"><a class="flex-prev" href="#" onclick="plusSlides(-1)">Previous</a></li>
                                                <li class="flex-nav-next"><a class="flex-next" href="#" onclick="plusSlides(1)">Next</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section id="features" class="features-boxes-section">
                        <h2 class="features-heading">One Centralised Platform. All Placements.</h2>
                        <ul class="features-list-ordered">
                            <li class="featured-item">
                                <div class="featured-icon placement-events"><img src="./images/placement-events-primary.svg" /></div>
                                <h4>Placement Drives</h4>
                                <p>Scheduling. Registrations.</p>
                                <p>Communicating with Companies.</p>
                            </li>
                            <li class="featured-item">
                                <div class="featured-icon student-data"><img src="./images/students-primary.svg" /></div>
                                <h4>Students Data</h4>
                                <p>Manage. Upload. Edit.</p>
                                <p>Share with Companies.</p>
                            </li>
                            <li class="featured-item">
                                <i class="material-icons">phone_android</i>
                                <h4>Mobile Application</h4>
                                <p>Students. T&amp;P.</p>
                                <p>Connected on the Move.</p>
                            </li>
                        </ul>
                        <div class="features-list-ordered layout-sm-column layout-align-center-center layout-row">
                            <li class="featured-item flex">
                                <div class="featured-icon partner-colleges"><img src="./images/college-primary.svg" /></div>
                                <h4>Partner Colleges</h4>
                                <p>Multiple Campuses.</p>
                                <p>University. Group of Colleges.</p>
                            </li>
                            <li class="featured-item flex">
                                <i class="material-icons featured-icon reports"></i>
                                <div class="featured-icon"><img src="./images/reports-primary.svg" /></div>
                                <h4>Reports</h4>
                                <p>Auto Generated. Customize.</p>
                                <p>All Levels. Course. Student. College. Companies.</p>
                            </li>
                            <li class="featured-item flex">
                                <i class="material-icons">device_hub</i>
                                <h4>Team Collaboration</h4>
                                <p>Training &amp; Placement Cell.</p>
                                <p>Coordinators. Students. Companies.</p>
                            </li>
                        </div>
                    </section>
                    <div class="md-padding text-center cyan">
                        <p class="feature-summary no-margin">
                            No More Adhoc Ness. Tame the Chaos of Placements. <br class="show-mobile" />Be Awesomely Effective &amp; Efficient. <br class="hide-mobile" />
                            <span class="hide-mobile">Scale to New Heights.</span>
                        </p>
                    </div>
                    <section class="features-slider-section"></section>
                    <section class="timeline">
                        <div class="homepage-container">
                            <div class="hgroup hgroup-sm timeline-header">
                                <h3 class="text-center small-area-text">Features Simplifying Placements</h3>
                            </div>
                        </div>
                        <div id="cd-timeline" timeline="">
                            <i class="start timeline-circle cd-timeline-img cyan"></i> <span class="filler"></span>
                            <div class="cd-timeline-block">
                                <div class="cd-timeline-content">
                                    <div class="cd-timeline-img cyan"></div>
                                    <h2>Configure Teams</h2>
                                    <ul>
                                        <li><span>Set Up Departments. Campuses</span></li>
                                        <li><span>Engage Team Members, Faculty &amp; Coordinators</span></li>
                                        <li><span>Department Level, Each Event Level Access / Permissions.</span></li>
                                        <li><span>Associate Group / University Colleges.</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="cd-timeline-block">
                                <div class="cd-timeline-content">
                                    <div class="cd-timeline-img cyan"></div>
                                    <h2>​Students Management</h2>
                                    <ul>
                                        <li><span>Bulk Upload. Individual Edit. Students Data</span></li>
                                        <li><span>Control Student Access &amp; Allowed Actions</span></li>
                                        <li><span>Standardised Professional Resume Format. College Branding​</span></li>
                                        <li><span>Advanced Searching, Filtering, &amp; Sorting Abilities</span></li>
                                        <li><span>Advanced Master &amp; Customised Downloads</span></li>
                                        <li><span>History Trails. All Actions &amp; Downloads</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="cd-timeline-block">
                                <div class="cd-timeline-content">
                                    <div class="cd-timeline-img cyan"></div>
                                    <h2>Placement Events</h2>
                                    <ul>
                                        <li><span>Define. Position. Selection Process. Schedule.</span></li>
                                        <li><span>Broadcast Events to Students for Registration.</span></li>
                                        <li><span>Mark Approvals. Shortlists. Publish Offers.</span></li>
                                        <li><span>Share Registrations Data with Companies.</span></li>
                                        <li><span>History Trails. All Actions &amp; Downloads.</span></li>
                                        <li><span>Download. Bulk Updates. Send Notes.</span></li>
                                        <li><span>Pool Campus Drives.</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="cd-timeline-block">
                                <div class="cd-timeline-content">
                                    <div class="cd-timeline-img cyan"></div>
                                    <h2>Mobile Applications</h2>
                                    <ul>
                                        <li><span>Stay Connected on the Move. Android &amp; iOS.</span></li>
                                        <li><span>T &amp; P - Edit Placement Event Details.</span></li>
                                        <li><span>T &amp; P - Manage Schedule. Registrations.</span></li>
                                        <li><span>Students - View Opportunities. Register on the Move.</span></li>
                                        <li><span>Students - Resume Edits. Submit Resumes.</span></li>
                                        <li><span>Both - Notifications. Reminder. Calendar.</span></li>
                                        <li><span>Both - Forums.</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="cd-timeline-block">
                                <div class="cd-timeline-content">
                                    <div class="cd-timeline-img cyan"></div>
                                    <h2>Reports</h2>
                                    <ul>
                                        <li><span>Detailed Insights at all Levels. Colleges. Departments. Courses.</span></li>
                                        <li><span>Overall Numbers. Tables. Bar Graphs. Auto Generated.</span></li>
                                        <li><span>Digitise Historical Data. View Trends Over the Years</span></li>
                                        <li><span>Customised Reports. Leader Board</span></li>
                                        <li><span>Download. Share. Reports</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="timeline-end">
                                <i class="end timeline-circle cd-timeline-img cyan"></i>
                                <p>and more...</p>
                            </div>
                        </div>
                    </section>
                    <section id="features-bottom" class="features-boxes-section timeline-connected">
                        <ul class="features-list-ordered">
                            <li class="featured-item">
                                <i class="material-icons">forum</i>
                                <h4>Forums</h4>
                                <p>Public &amp; Private.</p>
                            </li>
                            <li class="featured-item">
                                <i class="material-icons">perm_contact_calendar</i>
                                <h4>Organisation Contacts</h4>
                                <p>On Web. On Mobile.</p>
                            </li>
                            <li class="featured-item">
                                <i class="material-icons">security</i>
                                <h4>Data Security</h4>
                                <p>SSL. History Trails. No Sharing.</p>
                            </li>
                            <li class="featured-item">
                                <i class="material-icons">notifications_active</i>
                                <h4>Notifications</h4>
                                <p>Smart. Web + Email + Mobile.</p>
                            </li>
                            <li class="featured-item">
                                <i class="material-icons">event</i>
                                <h4>Calendar Events</h4>
                                <p>Scheduling. Reminders.</p>
                            </li>
                            <li class="featured-item">
                                <i class="material-icons">live_help</i>
                                <h4>Responsive Support.</h4>
                                <p>Assistance For All Queries.</p>
                            </li>
                        </ul>
                    </section>
                    <div class="ng-isolate-scope">
                        <section class="marcomm-footer ng-scope" data-ng-if="showMarcommFooter">
                            <div class="row header-container">
                                <div class="col s12 no-padding">
                                    <div class="links-container clearfix">
                                        <div class="links links-talent pull-left">
                                            <h3 class="title">Recruitment Solutions</h3>
                                            <ul>
                                                <li><a href="./companies_landing_page.html">Companies</a></li>
                                                <li><a href="./index.html">Colleges and Universities</a></li>
                                            </ul>
                                        </div>
                                        <div class="links links-talent pull-right">
                                            <h3 class="title text-right">Resources</h3>
                                            <ul class="justify-end">
                                                <li><a href="https://calyxpod.com/pages/" target="_blank">Blogs</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <footer class="secondary-footer">
                            <div class="row header-container">
                                <div class="col s12 no-padding">
                                    <div class="legal-nav layout-row">
                                        <a class="brand flex" ui-sref="root" href="./index.html"> <img alt="Pod logo" src="./images/new_calyx_logo.png" /> </a>
                                        <div class="social-links flex">
                                            <a href="https://www.linkedin.com/company/calyxpod/" target="_blank" class="fa-brands fa-linkedin"> </a>
                                            <a href="https://www.google.co.in/maps/place/861,+Udyog+Vihar,+Phase+V,+Sector+19,+Gurugram,+Haryana+122022/@28.503219,77.0838117,17z/data=!4m5!3m4!1s0x390d194472ba6b6d:0x78c3b6d78165513d!8m2!3d28.503219!4d77.0860004" target="_blank"> <i class="g-maps"></i> </a>
                                        </div>
                                        <ul class="layout-row flex">
                                            <li class="flex"><a ui-sref="terms_conditions" target="_blank" href="./terms_and_conditions.html">Terms of Use</a></li>
                                            <li class="flex"><a ui-sref="privacy_policy" target="_blank" href="./privacy_policy.html">Privacy Policy</a></li>
                                            <li class="flex"><a ui-sref="technology_principles" target="_blank" href="./cookie_policy.html">Cookie Policy</a></li>
                                        </ul>
                                    </div>
                                    <p class="copyright text-center ng-binding">
                                        <b>CALYX<span>POD</span></b
                                        ><i class="material-icons">copyright</i> . &nbsp;&nbsp;All Rights Reserved.
                                    </p>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="./js/main.js"></script>
        <script>
            AOS.init();
        </script>
    </body>
</html>
